<div class="container">
    <div>
        <h2>Modifier une Résidence :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2" hidden>
            <label>ID Résidence</label>
            <input readonly type="text" [(ngModel)]="currentResidence.id" name="idResidence"
                class="form-control">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label>Nom Résidence</label>
            <input type="text" [(ngModel)]="currentResidence.nomResidence" name="nomResidence"
                class="form-control">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label>Adresse</label>
            <input type="text"
                [(ngModel)]="currentResidence.adresse" name="adresse" class="form-control">
        </div>
       
        <div class="mt-2">
            <button type="submit" (click)="updateResidence()" class="btn btn-success">Modifier</button>
        </div>
    </form>
</div>
