<nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Déclaration</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/residences">Résidences</a>
        <a class="nav-link" href="/#">Récapitulatif</a>
        <a class="nav-link" href="/locataire">Locataires</a>
        <a class="nav-link" href="/syndic">Syndics</a>
        <a class="nav-link" href="/gestionnaire">Gestionnaires</a>
        <a class="nav-link" href="/entreprise">Entreprises</a>
        <a class="nav-link" href="/banque">Banques</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet />